@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */
body::-webkit-scrollbar { 
  display: none 
}

#sidebar::-webkit-scrollbar { 
  display: none 
}

/* Colors */
.bg-color-1 {
  background-color: #165954;
}

.bg-color-2 {
  background-color: #f9ac66;
}

.bg-color-3 {
  background-color: #ed6b5b;
}

.bg-color-3-shade-1 {
  background-color: #e94c39;
}

.bg-color-3-shade-2 {
  background-color: #f08072;
}

.bg-color-4 {
  background-color: #dcdcdc;
}

.text-color-1 {
  color: #165954
}

.text-color-2 {
  color: #f9ac66;
}

.text-color-3 {
  color: #ed6b5b;
}

/* Font Families */
.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.spirax {
  font-family: 'Spirax', cursive;
}

/* Header */
.tagline-font {
  font-size: 4vw;
  line-height: 1;
}

@media (min-width: 768px) {  
  .tagline-font {
    font-size: 3vw;
  }
}

/* Sidebar position */
.side-hide {
  left: -75vw;
  transition: all linear 1s;
}

@media (min-width: 768px) {  
  .side-hide {
    left: -50vw;
  }
}

.side-show {
  left: 0;
  transition: all linear 1s;
}

.side-tag {
  font-weight: 600;
  text-align: center;
}

@media (max-width: 768px) {  
  .side-tag {
    font-size: small;
  }
}

/* Button and Table on Sidebar */
.profile-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border: #f9ac66 solid 1px;
  border-radius: 28px;
  color: white;
  font-size: 20px;
  font-weight: 550;
  background: #e94c39;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
}

.profile-button:hover {
  border: black solid 1px;
}

.profile-button:active {
  transform: scale(0.95);
}

@media (max-width: 768px) {  
  .profile-button {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
}

.table-bottom {
  border-bottom: white 1px solid;
}

.table-top {
  border-top: white 1px solid;
}

/* Profile */
.profile-pic-border {
  border-color: #f9ac66;
  border-width: 10px;
}