@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */
body::-webkit-scrollbar { 
  display: none 
}

/* Colours */
.nav-active {
  background-color: #383838;
}

.nav-base {
  background-color: #727272;
}

.bg-shade-1 {
  background-color: black;
}

.bg-shade-2 {
  background-color: #242424;
}

.bg-shade-3 {
  background-color: #484848;
}

.bg-shade-4 {
  background-color: #727272;
}

/* Font Families */
.permanent-marker {
  font-family: 'Permanent Marker', cursive;
}

.patrick-hand {
  font-family: 'Patrick Hand', cursive;
}

/* Navigation Bar */
.nav-fix {
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-hide {
  position: fixed;
  top: -70px;
  transition: top linear 0.3s;
  z-index: 0.5;
}

.nav-show {
  position: fixed;
  top: 50px;
  transition: top linear 0.3s;
  z-index: 0.5;
}

/* Tagline */
.tagline-font {
  font-size: 3.5vw;
  line-height: 1;
}

@media (min-width: 768px) {
  .tagline-font {
    font-size: 2.5vw;
  }
}