@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar */
body::-webkit-scrollbar { 
  display: none 
}

/* Colours */
.bg-shade-1 {
  background-color: #9a86a4;
}

.bg-shade-2 {
  background-color: #b1bce6;
}

.bg-shade-3 {
  background-color: #689bb9;
}

.bg-shade-4 {
  background-color: #f1f0c0;
}

.nav-active {
  background-color: #8a7396;
}

.nav-base {
  background-color: #b1a2b9;
}

/* Font Families */
.dancing-script {
  font-family: 'Dancing Script', cursive;
}

.patrick-hand {
  font-family: 'Patrick Hand', cursive;
}

.permanent-marker {
  font-family: 'Permanent Marker', cursive;
}

/* Navigation Bar */
.nav-fix {
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-hide {
  position: fixed;
  top: -70px;
  transition: top linear 0.3s;
  z-index: 0.5;
}

.nav-show {
  position: fixed;
  top: 50px;
  transition: top linear 0.3s;
  z-index: 0.5;
}

/* Tagline */
.tagline-font {
  font-size: 4.5vw;
  line-height: 1;
}

@media (min-width: 768px) {
  .tagline-font {
    font-size: 3.5vw;
  }
}

/* Images */
.rounded-border {
  border-radius: 100%;
}

.profile-width {
  max-width: 200px;
}

@media (min-width: 768px) {
  .profile-width {
    max-width: 300px;
  }
}